<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes Download</title>
    <link rel="stylesheet" href="/css/note.css">
</head>
<body>
    <%- include('includes/header.ejs') %>
<div class="notes-container">
    
    <!-- CARD 1 -->
    <div class="note-card" onclick="downloadFile('notes/network-security.pdf')">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/924/924915.png" alt="Network">
        </div>

        <div class="note-center">
            <h3>Ethical Hacking</h3>
            <p>Ethical hacking, SOC operations, digital forensics basics.</p>
        </div>

        <div class="note-right">
            <button onclick="downloadFile('notes/network-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 2 -->
    <div class="note-card" onclick="downloadFile('notes/network-security.pdf')">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/924/924915.png" alt="Network">
        </div>

        <div class="note-center">
            <h3>Basic Networking</h3>
            <p>Ethical hacking, SOC operations, digital forensics basics.</p>
        </div>

        <div class="note-right">
            <button onclick="downloadFile('notes/network-security.pdf')">DOWNLOAD</button>
        </div>
    </div>

    <!-- CARD 3 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>CCNA</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>

        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>

    <!-- CARD 4-->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/924/924915.png" alt="Malware">
        </div>

        <div class="note-center">
            <h3>Aws Associate</h3>
            <p>Threat analysis and detection techniques.</p>
        </div>

        <div class="note-right">
            <button onclick="downloadFile('notes/malware-notes.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 5 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>RHCA</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>

        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 6 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>RHCSA</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>

        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 7 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>AWS Security</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
<!-- CARD 8 -->
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>

<!-- CARD 9 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>Azure</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>

        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>

<!-- CARD 10 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>EJPT</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>

        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>

<!-- CARD 11 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>DS</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>

        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 12 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>DA</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>

        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!---13-->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 14 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-centern">
            <h3>IOT</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 15 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 16 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 17 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 18 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 19 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 20-->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 21 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 22 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 23 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 2 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 1 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
<!-- CARD 1 -->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>ML</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>
        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>

<!--5-->
    <div class="note-card">
        <div class="note-left">
            <img src="https://cdn-icons-png.flaticon.com/512/3064/3064195.png" alt="Digital">
        </div>

        <div class="note-center">
            <h3>AI</h3>
            <p>Cyber defense, real-world security practices.</p>
        </div>

        <div class="note-right">
            <button onclick="downloadFile('notes/digital-security.pdf')">DOWNLOAD</button>
        </div>
    </div>
</div>
  <%- include('includes/footer.ejs') %>

<script src="/js/notes.js"></script>
</body>
</html>


